<!DOCTYPE html>
<html>
  <head>
    <title>RailsAngularMovies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'movies-spa' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
</head>

  <body>
    <%= yield %>
  </body>
</html>
